/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==========Reset==========*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/*==========Root==========*/
$red-color: hsl(349, 98%, 58%);
$blue-color: hsl(192, 98%, 47%);
$dark-color: hsl(0, 0%, 13%);
$white-color: hsl(0, 0%, 100%);
$transparent-color: hsla(0, 0%, 0%, 0);
$transition: all 100ms ease;
$bg-color: hsl(218, 29%, 95%);

$shadow: 0 1px 4px hsla(0, 0%, 0%, 0.2);
$shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
$shadow-2: 0px 3px 6px hsla(0, 0%, 0%, 0.4);

$gradient-1: linear-gradient(180deg, hsla(270, 5%, 7%, 0) 0%, hsla(270, 5%, 7%, 0.8) 65%, hsl(270, 5%, 7%) 100%);
$gradient-2: linear-gradient(180deg, hsla(260, 5%, 12%, 0) 0%, hsla(260, 5%, 12%, 0.8) 65%, hsl(260, 5%, 12%) 100%);

$heading: 5.6rem;
$title-1: 2rem;
$title-2: 1.8rem;
$title-3: 1.6rem;
$body-1: 2.2rem;
$body-2: 2rem;
$body-3: 1.6rem;
$label-1: 1.4rem;
$label-2: 1.2rem;

$weight-regular: 400;
$weight-semiBold: 600;





