/*==========Base==========*/
html {
    scroll-behavior: smooth;
    font-size: .9rem;
}
body {
    color: $dark-color;
    background: $light-blue;
    overflow: hidden;

    &::-webkit-scrollbar {
        width: .4rem;
        height: .4rem;
      }
    &::-webkit-scrollbar-track {
        background: $light-blue;
      }
    &::-webkit-scrollbar-thumb {
        background: $blue-color;
      }
}
.flex {
    display: flex;
}
a, img, span, input, button {
    display: block;
}
a {
    color: inherit;
}
img {
    width: 100%;
    height: auto;
}
input, button {
    background: none;
    font: inherit;
    color: inherit;
}
input {
    width: 100%;
}
button {
    cursor: pointer;
}
sub {
    vertical-align: baseline;
}
sup {
    vertical-align: top;
}
sub, sup {
    font-size: 1.2rem;
    line-height: 2;
    font-weight: 300;
}
:focus-visible {
    outline: 2px solid $white-color;
    outline-offset: 2px;
}
::selection {
    background: $white-color;
}
.container {
    max-width: 1600px;
    width: 98%;
    margin-inline: auto;
    padding: .5rem;
}
.icon__btn {
    background: $blue-color;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 5rem;
    box-shadow: $shadow-2;
    color: $white-color;
    transition: $transition;

    &:hover {
        background: $light-blue;
        color: $blue-color;
    }
}
.state {
    position: relative;
    transition: $transition;

    &:hover {
        background: $light-blue;
        color: $blue-color;
    }

    &:is(:focus, :focus-visible) {
        box-shadow: none;
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        clip-path: circle(100% at 50% 50%);
        transition: $transition;
    }

    &:hover::before {
        background: $light-blue;
    }
}
.btn__primary {
    background: $blue-color;
    color: $white-color;
    height: 2rem;
    line-height: 2rem;
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem;
    border-radius: .5rem;
    box-shadow: $shadow-2;

    .span {
        font-weight: $weight-semiBold;
    }

    &[disabled] {
        background: $light-blue;
        color: $light-blue;
        cursor: not-allowed;
    }

    &[disabled]::before {
        display: none;
    }
}
.card {
    background: $blue-color;
    box-shadow: $shadow-2;
}
.card__large {
    border-radius: 1rem;
    padding: 1rem;
}
.card__small {
    padding: .5rem;
    border-radius: .5rem;
}
.headers {
    color: $white-color;
    font-size: 2rem;
    line-height: 1.1;
}
.title__1 {
    font-size: 2rem;
}
.title__2 {
    font-size: 1.4rem;
    margin-block-end: .7rem;
}
.title__3 {
    font-size: .9rem;
    font-weight: $weight-semiBold;
}
.body__1 {
    font-size: 1.2rem;
}
.body__2 {
    font-size: 1rem;
    font-weight: $weight-semiBold;
}
.body__3 {
    font-size: .9rem;
}
.label__1 {
    font-size: 1.4rem;
}
.label__2 {
    font-size: 1rem;
}
