/*==========Base==========*/
html {
    scroll-behavior: smooth;
    font-size: .9rem;
}
body {
    color: $dark-color;
    background: $light-blue;
    overflow: hidden;

    &::-webkit-scrollbar {
        width: .4rem;
        height: .4rem;
      }
    &::-webkit-scrollbar-track {
        background: $light-blue;
      }
    &::-webkit-scrollbar-thumb {
        background: $blue-color;
      }
}
.flex {
    display: flex;
}
a, img, span, input, button {
    display: block;
}
a {
    color: inherit;
}
img {
    width: 100%;
    height: auto;
}
input, button {
    background: none;
    font: inherit;
    color: inherit;
}
input {
    width: 100%;
}
button {
    cursor: pointer;
}
sub {
    vertical-align: baseline;
}
sup {
    vertical-align: top;
}
sub, sup {
    font-size: .75rem;
}
:focus-visible {
    outline: 2px solid $white-color;
    outline-offset: 2px;
}
::selection {
    background: $white-color;
}
  

  