.header {
    box-shadow: $shadow;
    background: $dark-color;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: $transition;

        .search__wiew {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            height: 100svh;
            background: $blue-color;
            color: $white-color;
            clip-path: circle(4% at calc(100% - 102px) 5%);
            opacity: 0;
            visibility: hidden;
            transition: clip-path $transition;
            z-index: 4;

            &.active {
                opacity: 1;
                visibility: visible;
                clip-path: circle(130% at 73% 5%);
            }

            .search__wapper {
                position: relative;
                box-shadow: $shadow;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 1rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    border: 3px solid $light-blue;
                    border-block-start-color: $transparent-color;
                    border-radius: 50%;
                    animation: loading 400ms linear infinite;
                    display: none;
                }

                @keyframes loading {
                    0% {
                        transform: translateY(-50%) rotate(0);
                    }
                    100% {
                        transform: translateY(-50%) rotate(1turn);
                    }
                }

                &:has(.searching)::before {
                   display: block; 
                }

                .search__field {
                    height: 5rem;
                    line-height: 5rem;
                    padding-inline: 3.5rem 1rem;

                    &::placeholder {
                        color: hsla(0, 0%, 13%, 0.61);
                    }

                    &::-webkit-search-cancel-button {
                        display: none;
                    }
                } 

                .loading__icon {
                    position: absolute;
                    top: 50%;
                    left: 1.9rem;
                    transform: translate(-50%, -50%);
                }

                .icon__search {
                    display: none;
                }

                .icon__btn {
                    background: hsla(0, 0%, 13%, 0.24);
                    box-shadow: $shadow;
                }
            }

            .search__result {

                .list {
                    padding-block: .5rem 1rem;

                    .item {
                        position: relative;
                        height: 3.8rem;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 1rem;
                        padding-inline: 1rem 1.5rem;

                        :is(.search__icon, .item__subtitle) {
                            color: $dark-color;
                        }

                        .item__link {
                            position: absolute;
                            inset: 0;
                            background: hsla(0, 0%, 13%, 0.068);
                            box-shadow: none;
                        }
                    }
                }
            }
        }

        .actions {
            display: flex;
            gap: 1rem;
        }

        .logo {
            width: 3rem;

            .logo__name {
                display: none;
            }
        }
    }
}

.header .btn__primary .span {
    display: none;
}


/*==========Media Query==========*/
@media (min-width: 1024px) {
    .header {
    
        .container {
            width: 94%;
    
            .search__wiew {
                width: 30%;
            }

            .logo {
                display: flex;
                align-items: center;
                gap: .5rem;
                width: 3rem;
    
                .logo__name {
                    color: $white-color;
                    text-transform: capitalize;
                    font-weight: 1000;
                    letter-spacing: 5px;
                    display: inline-block;
                }
            }
        }
    }
    
    .header .btn__primary .span {
        display: inline-block;
    }
    
}