.highlights {

    .card__large {

        .title__2 {
            color: $text-color;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            gap: .2rem;

            span {
                color: $white-color;
            }
        }

        .highlights__list {

            .card {
                box-shadow: none;
            }
        }
    }
}