.main {
    height: calc(100vh - 5.5rem);
    height: calc(100svh - 5.5rem);
    margin-block-start: 5rem;

    article.container {
        position: relative;
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: 1.2rem;
        height: 100%;

        ::-webkit-scrollbar-thumb {
            background: $transparent-color;
        }

        :is(hover, :focus-within)::-webkit-scrollbar-thumb {
            background-color: $blue-color;
        }

        ::-webkit-scrollbar-button {
            height: .8rem;
        }
    }

    .section:not(:last-child) {
        margin-block-end: 1rem;
    }
}